@import "tailwindcss";
@theme {
  --color-main: #161a4c;
  --color-secondary: #F9F9F9;
  --font-main: "Cairo", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}
body {
  background-color: #ffffff;
}
